body {
    background-color: rgb(159, 159, 159);  
    background-image: url('record.png'); 
    text-align: center;
    background-repeat: repeat;
    margin:0%; 
    border-radius: 2cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    


}
h1 {
    border-radius: 2cm;

}
h2 {
    text-align: center;
    background-color: hotpink;
    color: chartreuse;
    border-radius: 2cm;
    border-color: hotpink;
    border-bottom-color: hotpink;

}
title {
    background-color: hotpink;
    }
   


.green {
    color: chartreuse;
}
.pink-bg {
    background-color:hotpink;
}
.grey {
    background:gray;

}
.space {
    text-align: center;
}
