body {
    background-color: rgb(159, 159, 159);  
    background-image: url('record.png'); 
}
title {
    text-align: center;
    background-color: darkorchid;
    background-repeat: repeat;
    

}


